#education-table
{
    border-collapse: collapse;

    td
    {
        padding: .35em;
    }

    tr+tr td
    {
        border-top: 1px solid #afafa8;
    }

    td+td
    {
        border-left: 1px solid #afafa8;
    }
}
