#resume-header
{
    @media screen
    {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: .25em;
    }

    @media print
    {
        text-align: center;
    }
}

#resume-heading
{
    background-color: #6a93a1;
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding-bottom: .25em;
    width: 100%;
}

#resume-heading,
#resume-tagline
{
    padding-top: .25em;
    text-align: center;
}

#resume-tagline
{
    display: block;
    padding-left: 1.5em;
    padding-right: 1.5em;

    @media screen
    {
        font-size: 1.25em;
    }

    @media print
    {
        font-size: 1em;
        margin-top: .25em;
    }
}
