@use 'palette';

.resume-section
{
    margin-top: .5in;
}

.resume-section-title
{
    background-color: palette.$light-very-desaturated-yellow;
    border: 2px solid palette.$most-desaturated-yellow;
    font-size: 1em;
    padding: 5px;
}

.resume-section-body
{
    margin-left: .5in;
    margin-right: .5in;
}
