.resume-section
{
    margin-top: .5in;
}

.resume-section-title
{
    background-color: #d0d0c0;
    border: 2px solid #afafa8;
    font-size: 1em;
    padding: 5px;
}

.resume-section-body
{
    margin-left: .5in;
    margin-right: .5in;
}
