@use 'palette';

#technical-experience-container
{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
}

.technical-experience-table
{
    border-collapse: collapse;

    td
    {
        padding: .35em;
    }

    tr+tr td
    {
        border-top: 1px solid palette.$most-desaturated-yellow;
    }

    td+td
    {
        border-left: 1px solid palette.$most-desaturated-yellow;
    }
}

.technical-experience-skill
{
    text-align: right;
}
