*
{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

body
{
    background-color: #eeeee8;
    color: #111b1e;
    font-family: Georgia, serif;
    margin: auto;
    max-width: 1280px;

    @media screen
    {
        font-size: 18px;
        padding: .5in;
    }

    @media print
    {
        font-size: 12px;
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

b
{
    white-space: nowrap;
}

@import 'header', 'section', 'education', 'technical-experience', 'work-history'
