$very-light-very-desaturated-yellow: #eeeee8;

$light-very-desaturated-orange: #cfc3be;
$most-desaturated-orange: #aea9a7;

$very-light-desaturated-cyan: #ddeaee;
$desaturated-cyan: #5a9aaf;
$very-dark-desaturated-cyan: #0f1b1f;

$white: #ffffff;
