@using MinWebDev.Web

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MinWebDev.Web

@model MinWebDev.Web.ResumeViewModel

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./resume-icon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="@Model.Candidate.Name Resume" />
    <title>@Model.Candidate.Name</title>
    <link href="./site.css" rel="stylesheet" />
</head>

<body>
    <div id="resume">
        <header id="resume-header">
            <h1 id="resume-heading">@Model.Candidate.Name</h1>
            <i id="resume-tagline">@Html.Raw(Model.Candidate.Tagline)</i>
        </header>
        <main>
            <resume-section title="Education">
                @await Html.PartialAsync("Education/_EducationTable.cshtml", Model.SchoolAttendances)
            </resume-section>
            <resume-section title="Technical Experience">
                <div id="technical-experience-container">
                    @await Html.PartialAsync("TechnicalExperience/_TechnicalExperienceTable.cshtml", Model.SkillExperiencesPart1)
                    @await Html.PartialAsync("TechnicalExperience/_TechnicalExperienceTable.cshtml", Model.SkillExperiencesPart2)
                </div>
            </resume-section>
            <resume-section title="Work History">
                @await Html.PartialAsync("WorkHistory/_WorkHistoryGrid.cshtml", Model.EmploymentTerms)
            </resume-section>
        </main>
    </div>
</body>

</html>
