@using MinWebDev.Web

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MinWebDev.Web

@model MinWebDev.Web.ResumeViewModel

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./resume-icon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="@Model.CandidateName Resume" />
    <title>@Model.CandidateName</title>
    <link href="./site.css" rel="stylesheet" />
</head>

<body>
    <header id="resume-header">
        <h1 id="resume-heading">@Model.CandidateName</h1>
        <i id="resume-tagline">@Html.Raw(Model.CandidateTagline)</i>
    </header>
    <main>
        <resume-section title="Education">
            @await Html.PartialAsync("_EducationTable.cshtml", Model.SchoolAttendances)
        </resume-section>
        <resume-section title="Technical Experience">
            <div id="technical-experience-container">
                @await Html.PartialAsync("_TechnicalExperienceTable.cshtml", Model.SkillExperiencesPart1)
                @await Html.PartialAsync("_TechnicalExperienceTable.cshtml", Model.SkillExperiencesPart2)
            </div>
        </resume-section>
        <resume-section title="Work History">
            @await Html.PartialAsync("_WorkHistoryGrid.cshtml", Model.EmploymentTerms)
        </resume-section>
    </main>
</body>

</html>
